div.technology {
    background: url(./../../assets/technology/background-technology-desktop.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main.technology {
    align-items: center;
    color: hsl(0, 0%, 100%);
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}

div.technology-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 89%;
    justify-content: space-between;
    width: 88.5%;
}

div.technology-container h1 {
    font-weight: 400;
    text-transform: uppercase;
}

div.technology-container h1 span {
    opacity: 0.4;
}

div.technology-content {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

div.technology-explanation {
    align-items: center;
    display: flex;
    gap: 64px;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

div.technology-dots {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    justify-content: space-between;
}

div.technology-dots .tech-dot {
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

div.technology-dots .active-tech-dot {
    background-color: hsl(0, 0%, 100%);
    color: var(--blue-900);
}

div.technology-dots .tech-dot:hover {
    border: 1px solid hsl(0, 0%, 100%);
}

div.technology-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    width: 100%;
}

div.technology-text>p {
    color: var(--blue-300);
}

div.technology-name {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-transform: uppercase;
}

div.technology-name p:nth-child(1) {
    opacity: 0.4;
}

div.technology-image {
    align-items: center;
    display: flex;
    height: 600px;
    justify-content: center;
    width: 100%;
}

div.technology-image img {
    height: 100%;
    width: 100%;
}

@media (max-height: 924px) {
    div.technology-dots .tech-dot {
        height: 60px;
        width: 60px;
    }

    div.technology-image {
        height: 310px;
    }
}

@media (max-width: 1100px) {
    div.technology {
        display: block;
        overflow: auto;
    }

    div.technology-container {
        height: 100%;
        width: 100%;
    }

    div.technology-container h1 {
        margin: 40px;
    }

    div.technology-content {
        align-items: center;
        flex-direction: column-reverse;
    }

    div.technology-explanation {
        flex-direction: column;
        height: fit-content;
        margin: 40px;
    }

    div.technology-dots {
        flex-direction: row;
    }

    div.technology-text {
        align-items: center;
        text-align: center;
        width: 60%;
    }

    div.technology-name {
        align-items: center;
    }

    div.technology-image {
        height: 527px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    div.technology {
        background: url(./../../assets/technology/background-technology-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width: 375px) {
    div.technology {
        background: url(./../../assets/technology/background-technology-mobile.jpg) no-repeat;
        background-size: 100% 100%;
    }
}